@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body{
 color: #fff;
 background: #1f1934;
}

main{
  background: #393a47;
  height: 100vh;
  height: 100dvh;
}
/* Estilos para el contenedor Estructura */
/* Estilos para el contenedor Datos */
/* Estilos para el contenedor Datos */
/* Estilos para el contenedor Informacion */
/* Estilos para el contenedor Informacion */
/* Estilos para MotionTransition */
/* Estilos para MotionTransition */
.motion-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
    
  box-shadow: 0 2px 4px rgba(121, 33, 33, 0.1); /* Sombra ligera */
}

/* Estilos para container */
.container {
  max-width: 72rem; /* Equivalente a max-w-6xl en Tailwind CSS */
  margin-left: auto;
  margin-right: auto;
  padding: 2rem; /* Añadir espacio alrededor del contenido */
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centrar verticalmente los elementos */
}

/* Estilos para el título */
.Datos  {
 display: flex;
  margin: 2rem; /* Resetear márgenes */
  font-size: 2rem; /* Tamaño del título */
  font-family:'Courier New', Courier, monospace;
  font-weight:lighter;
  text-align: center;
}

@media (min-width: 600px) {
  .Datos {
    display: flex;
    padding: 20px;

      margin: 10px; /* Eliminar márgenes en pantallas grandes */
      font-size: 35px; /* Tamaño del título en pantallas grandes */
      text-align: left; /* Alinear a la izquierda en pantallas grandes */
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
}
/* Estilos para el span dentro del título */
.Texto-inicio .text-secondary {
  color: #0be7e7; /* Color secundario */
}

/* Estilos para el contenedor de los íconos */
.icons-container {
  display: flex;
  justify-content: center;
  gap: 75rem; /* Espacio entre íconos */
}

.icons-container a {
  transition: all 0.3s ease; /* Transición en hover */
}

.icons-container a:hover {
  color: #f4f3f5; /* Cambio de color en hover */
}
.Texto-inicio{
  color: #ead9fa;
}
@media (min-width: 400px) {
  .Texto-inicio {
      font-size: 2rem; /* Tamaño del texto en pantallas grandes */
      margin-bottom: 2rem; /* Espacio inferior en pantallas grandes */
      text-align: left; /* Alinear a la izquierda en pantallas grandes */
  }
}
/* aca tenemos los estilos de la navegacion   */
.Caja-nav {
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem; /* px-3 */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  transition: all 150ms; /* transition duration-150 */
  border-radius: 9999px; /* rounded-full */
  cursor: pointer; /* cursor-pointer */
}

.Caja-nav:hover {
  background-color: rgb(21, 18, 18); /* hover:white */
}

.bg-secondary {
  background-color: #f0f0f0; /* Ejemplo de color para bg-secondary */
}

.contenedor{
  display: flex;
  justify-content: center;
  background-color: #1f1934;
}
.Naveg{
  
    position: fixed;
    z-index: 40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    height: max-content;
    bottom: 10px;

}
/* ////////////////////// fin de la navegacion ////////////////////////// */ 

/*///////////////////// CONTENIDO INICIO///////////////// */

.Texto-inicio {
  margin-bottom: 25rem; /* mb-5 */
  font-size: 30px; /* text-9xl */
}

@media (min-width: 768px) {
  .texto-inicio {
      font-size: 5rem; /* md:text-7xl */
      margin-bottom: 5rem; /* md:mb-20 */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
