@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body{
 color: #fff;
 background: #1f1934;
}

main{
  background: #393a47;
  height: 100vh;
  height: 100dvh;
}
/* Estilos para el contenedor Estructura */
/* Estilos para el contenedor Datos */
/* Estilos para el contenedor Datos */
/* Estilos para el contenedor Informacion */
/* Estilos para el contenedor Informacion */
/* Estilos para MotionTransition */
/* Estilos para MotionTransition */
.motion-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
    
  box-shadow: 0 2px 4px rgba(121, 33, 33, 0.1); /* Sombra ligera */
}

/* Estilos para container */
.container {
  max-width: 60rem; /* Equivalente a max-w-6xl en Tailwind CSS */
  margin-left: auto;
  margin-right: auto;
  padding: 1rem; /* Añadir espacio alrededor del contenido */
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centrar verticalmente los elementos */
}

/* Estilos para el título */
.Datos  {
 display:flex;

  margin: 10px; /* Resetear márgenes */
  font-size: 13px; /* Tamaño del título */
  font-family:'Courier New', Courier, monospace;
  font-weight:lighter;
  text-align:left;
}
.Datos span{
  color: #e7800b;
}
@media (min-width: 600px) {
  .Datos {
    display: flex;
    padding:0px;

      margin: 10px; /* Eliminar márgenes en pantallas grandes */
      font-size: 25px; /* Tamaño del título en pantallas grandes */
      text-align: left; /* Alinear a la izquierda en pantallas grandes */
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
}
/* Estilos para el span dentro del título */
.Texto-inicio .text-secondary {
  color: #e7800b; /* Color secundario */
}

/* Estilos para el contenedor de los íconos */
.icons-container {
  display: flex;
  justify-content: center;
  gap: 5rem; /* Espacio entre íconos */
}

.icons-container a {
  transition: all 0.3s ease; /* Transición en hover */
}

.icons-container a:hover {
  color: #f4f3f5; /* Cambio de color en hover */
}
.Texto-inicio{
  color: #ead9fa;
}
@media (min-width: 600px) {
  .Texto-inicio  {
      font-size: 15px; /* Tamaño del texto en pantallas grandes */
      margin-bottom: 15px; /* Espacio inferior en pantallas grandes */
      text-align: left; /* Alinear a la izquierda en pantallas grandes */
  }
}
.Impresion {
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem; /* 8px */
  font-size: 1rem; /* 20px */
}

@media (min-width: 768px) {
  .Impresion {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 1rem; /* 32px */
  }
}
/* Estilos para el contenedor */
.Contenedor-boton {
padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px; /* 8px */
  font-size: 1rem; /* 20px */
}

@media (min-width: 768px) {
  .Contenedor-boton  {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 32px; /* 32px */
  }
}

/* Estilos para el botón */
.Boton {
 
  padding-left: 0.75rem; /* 12px */
  padding-right: 0.75rem; /* 12px */
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
  transition: all 0.3s ease; /* Ajusta el tiempo de la transición según tus necesidades */
  border: 2px solid; /* Ajusta el color del borde según tus necesidades */
  cursor: pointer;
  font-size: 1rem; /* 16px */
  width: fit-content;
  border-radius: 0.75rem; /* 12px */
}


.Boton:hover {
  cursor: pointer;
  color: #e7800b;
  
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5); /* Ajusta el color de la sombra según tus necesidades */
}


/* aca tenemos los estilos de la navegacion   */
.Caja-nav {
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem; /* px-3 */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  transition: all 150ms; /* transition duration-150 */
  border-radius: 9999px; /* rounded-full */
  cursor: pointer; /* cursor-pointer */
}

.Caja-nav:hover {
  background-color: rgb(244, 12, 12); /* hover:white */
}

.bg-secondary {
  background-color: #f0f0f0; /* Ejemplo de color para bg-secondary */
}

.contenedor{
  display: flex;
  justify-content: center;
  background-color: #2e2c2a;
}
.Naveg{
  
    position: fixed;
    z-index: 40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    height: max-content;
    bottom: 10px;

}
/* ////////////////////// fin de la navegacion ////////////////////////// */ 

/*///////////////////// CONTENIDO INICIO///////////////// */

.Texto-inicio {
  margin-bottom: 5rem; /* mb-5 */
  font-size: 30px; /* text-9xl */
}

@media (min-width: 768px) {
  .texto-inicio {
      font-size: 3rem; /* md:text-7xl */
      margin-bottom: 3rem; /* md:mb-20 */
  }

  .pres {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 450px; /* Ajusta el ancho del contenedor */
    height: 450px; /* Ajusta el alto del contenedor */
    z-index: 50; /* Asegúrate de que esté por encima de otros elementos si es necesario */
}

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
